/.blackbox/pubring.gpg~
/.blackbox/pubring.kbx~
/.blackbox/secring.gpg
/config/secrets/box4security.key.pem
/docker/web/web.key
/config/secrets/secrets.conf
/config/secrets/db.conf
/config/secrets/web.conf
/config/secrets/smtp.conf
/config/secrets/msmtprc
/config/secrets/openvas.conf
/config/secrets/wazuh.conf
