/.blackbox/pubring.gpg~
/.blackbox/pubring.kbx~
/.blackbox/secring.gpg
/config/secrets/box4security.key.pem
/docker/web/web.key
/config/secrets/secrets.conf
/config/secrets/db.conf
/config/secrets/web.conf
/config/secrets/smtp.conf
/config/secrets/msmtprc
/config/secrets/openvas.conf
/config/secrets/wazuh.conf
/docker/elastalert/etc/elastalert/smtp_auth_file.yaml
/docker/web/source/wazuh/*.deb
/docker/web/source/wazuh/*.pkg
/docker/web/source/wazuh/*.rpm
/docker/web/source/wazuh/*.msi
