{% extends "wizard/base.html" %}
{% block content %}
<div class="ui one column">
    <div class="ui active centered inline massive loader"></div>
</div>
<div class="ui one column">
    <div class="ui message">
        <div class="header">Gleich ist es soweit...</div>
        <div class="content">Sie haben Ihre Eingaben bestätigt. Die BOX4security wird nun eingerichtet. Bitte haben Sie einen Moment Geduld.</div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
$('.step.active').removeClass('active');
$('#step-verify').addClass('active');
$('#progress').progress();
</script>
{% endblock %}
