{% extends 'user_base.html' %}
{% block user %}
{% from "user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}
<div class="ui middle aligned center aligned two column grid">
  <div class="column">
    <h2 class="ui foursgrey image header">
      <div class="content">
        Willkommen zur BOX4security
      </div>
    </h2>
    <div class="ui success message">
      <div class="header">
        Bevor Sie fortfahren können, legen Sie bitte intial ein administratives Konto an.
      </div>
      <p>Nutzen Sie dazu eine E-Mailadresse innerhalb Ihres Zugriffs. Diese wird verwendet, um sich auf der Oberfläche anzumelden und das Passwort bei Verlust wiederherzustellen.</p>
    </div>
  <form class="ui large form" action="{{ url_for('user.login') }}" method="POST" role="form">
    <div class="ui segment">
    {{ form.hidden_tag() }}
    {# Username or Email #}
    {% set field = form.email %}
        <div class="field">
          <div class="ui left icon input">
            <i class="mail icon"></i>
            <input type="email" id="{{ field.id }}" required="" name="{{ field.name }}" placeholder="E-Mail Adresse">
          </div>
        </div>
        {% if field.errors %}
            {% for e in field.errors %}
                <p class="ui orange message">{{ e }}</p>
            {% endfor %}
        {% endif %}
        {% if user_manager.USER_ENABLE_EMAIL and user_manager.USER_ENABLE_USERNAME %}
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" id="{{ form.username.id }}" name="{{ form.username.name }}" placeholder="Benutzername">
          </div>
        </div>
        {% if form.username.errors %}
            {% for e in form.username.errors %}
                <p class="ui orange message">{{ e }}</p>
            {% endfor %}
        {% endif %}
        {% endif %}
    <div class="field">
      <div class="ui left icon input">
        <i class="key icon"></i>
        <input type="password" id="{{ form.password.id }}" required="" name="{{ form.password.name }}" placeholder="Passwort">
      </div>
    </div>
    {% if form.password.errors %}
        {% for e in form.password.errors %}
            <p class="ui orange message">{{ e }}</p>
        {% endfor %}
    {% endif %}
    {% if user_manager.USER_REQUIRE_RETYPE_PASSWORD %}
    <div class="field">
      <div class="ui left icon input">
        <i class="key icon"></i>
        <input type="password" id="{{ form.retype_password.id }}" required="" name="{{ form.retype_password.name }}" placeholder="Passwort wiederholen">
      </div>
    </div>
    {% if form.retype_password.errors %}
        {% for e in form.retype_password.errors %}
            <p class="ui orange message">{{ e }}</p>
        {% endfor %}
    {% endif %}
    {% endif %}
    <button class="ui fluid large foursgrey-bg submit button">Registrieren</button>
    </div>
</form>

{% endblock %}
