{% extends 'user_base.html' %}
{% block user %}
{% from "user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}
<div class="ui middle aligned center aligned three column grid">
  <div class="column">
    <h2 class="ui foursgrey image header">
      <div class="content">
        E-Mail-Bestätigung anfordern
      </div>
    </h2>
    <form action="" method="POST" class="ui form" role="form">
      {{ form.hidden_tag() }}
      <div class="ui segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="mail icon"></i>
            <input type="text" id="{{form.email.id}}" name="{{form.email.name}}" placeholder="E-Mail Adresse">
          </div>
        </div>
        {% if request.method == "POST" %}
        <p class="ui green message">Ihre Anfrage wird bearbeitet.</p>
        {% endif %}
        <button class="ui fluid large foursgrey-bg submit button">Senden</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
