{% extends "wizard/base.html" %}
{% block content %}
{% from "user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}
    <div class="one column">
    <div class="ui segment">
        <div class="ui success message">
            <div class="header">
            Konfiguration der BOX4security
            </div>
            <p>
                Nehmen Sie hier wichtige Einstellungen zur Konnektivität der BOX4security vor. <br>
                Die Änderungen werden nach Abschluss der Einrichtung in Schritt 6 übernommen.
            </p>
        </div>
        <form class="ui form" action="" method="POST" role="form">
            {{ formBOX4s.hidden_tag() }}
            <h4 class="ui dividing header">Netzkonfiguration BOX4security</h4>
            <div class="two fields">
                <div class="field">
                    <label>Netzzugehörigkeit BOX4security</label>
                    <select id="{{formBOX4s.network_id.id}}" name="{{formBOX4s.network_id.name}}" required="" class="ui dropdown">
                    <option value="">Netz</option>
                    {% for value in formBOX4s.network_id.choices %}
                        <option value="{{value[0]}}">{{value[1]}}</option>
                    {% endfor %}
                    </select>
                </div>
                {% if formBOX4s.network_id.errors %}
                    {% for e in formBOX4s.network_id.errors %}
                    <p class="ui orange message">{{ e }}</p>
                    {% endfor %}
                {% endif %}
                <div class="field">
                    <label>IP-Adresse BOX4security</label>
                    <input type="text" id="{{ formBOX4s.ip_address.id }}" name="{{ formBOX4s.ip_address.name }}" placeholder="IP-Adresse (z.B. 192.168.1.0)">
                </div>
                {% if formBOX4s.ip_address.errors %}
                    {% for e in formBOX4s.ip_address.errors %}
                    <p class="ui orange message">{{ e }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="two fields">
                <div class="field">
                    <label>DNS-Server BOX4security</label>
                    <select id="{{formBOX4s.dns_id.id}}" name="{{formBOX4s.dns_id.name}}" required="" class="ui dropdown">
                    <option value="">DNS-Server</option>
                    {% for value in formBOX4s.dns_id.choices %}
                        <option value="{{value[0]}}">{{value[1]}}</option>
                    {% endfor %}
                    </select>
                </div>
                {% if formBOX4s.dns_id.errors %}
                    {% for e in formBOX4s.dns_id.errors %}
                    <p class="ui orange message">{{ e }}</p>
                    {% endfor %}
                {% endif %}
                <div class="field">
                    <label>Gateway BOX4security</label>
                    <select id="{{formBOX4s.gateway_id.id}}" name="{{formBOX4s.gateway_id.name}}" required="" class="ui dropdown">
                    <option value="">Gateway</option>
                    {% for value in formBOX4s.gateway_id.choices %}
                        <option value="{{value[0]}}">{{value[1]}}</option>
                    {% endfor %}
                    </select>
                    {% if formBOX4s.gateway_id.errors %}
                        {% for e in formBOX4s.gateway_id.errors %}
                        <p class="ui orange message">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <button type="submit" class="ui large foursgrey-bg button">Eingaben speichern</button>
        </form>
    </div>
    </div>
    <div class="ui one column">
        <a href="{{ url_for('wizard.smtp') }}" class="ui large foursgrey-bg button">Weiter</a>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
$('.step.active').removeClass('active');
$('#step-box4s').addClass('active');
</script>
{% if box4s %}
<script type="text/javascript">
$('#{{formBOX4s.network_id.id}}').parent('.ui.dropdown').dropdown("set selected", "{{box4s.network.id}}");
$('#{{formBOX4s.ip_address.id}}').val("{{box4s.ip_address}}");
$('#{{formBOX4s.dns_id.id}}').parent('.ui.dropdown').dropdown("set selected", "{{box4s.dns_id}}");
$('#{{formBOX4s.gateway_id.id}}').parent('.ui.dropdown').dropdown("set selected", "{{box4s.gateway_id}}");
</script>
{% endif %}
{% endblock %}