{% extends "wizard/base.html" %}
{% block content %}
{% from "user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}
    <div class="one column">
    <div class="ui segment">
        <div class="ui success message">
            <div class="header">
            Konfiguration der BOX4security
            </div>
            <p>
                Nehmen Sie hier wichtige Einstellungen zur Konnektivität der BOX4security vor. <br>
                Die Änderungen werden nach Abschluss der Einrichtung in Schritt 6 übernommen.
            </p>
        </div>
        <a class="ui large foursgrey-bg button">Eingaben speichern</a>
        <form class="ui large form" action="" method="POST" role="form">
            {{ formBOX4s.hidden_tag() }}
            <div class="fields">
                <div class="five wide field">
                    <label>IP-Adresse</label>
                    <input type="text" id="{{ formBOX4s.ip_address.id }}" name="{{ formBOX4s.ip_address.name }}" placeholder="Netz-Adresse (z.B. 192.168.1.0)">
                </div>
                {% if formBOX4s.ip_address.errors %}
                    {% for e in formBOX4s.ip_address.errors %}
                    <p class="ui orange message">{{ e }}</p>
                    {% endfor %}
                {% endif %}
            </div>
                <div class="fields">
                    <div class="five wide field">
                        <label>Netz-Typ</label>
                        <select name="{{formBOX4s.types.name}}" multiple="" class="ui dropdown">
                        <option value="">Netz-Typ</option>
                        {% for value in formBOX4s.types.choices %}
                            <option value="{{value[0]}}">{{value[1]}}</option>
                        {% endfor %}
                        </select>
                    </div>
                    {% if formBOX4s.types.errors %}
                        {% for e in formBOX4s.types.errors %}
                            <p class="ui orange message">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
                    <div class="one field">
                        <label>&nbsp;</label>
                        <a class="ui green icon large fluid button">
                            <i class="plus icon"></i>
                        </a> 
                    </div>
                    <div class="four wide field">
                        <label>Schwachstellenscan an Wochentag</label>
                        <select id="{{ formBOX4s.scan_weekday.id }}" name="{{formBOX4s.scan_weekday.name}}" class="ui dropdown">
                            <option value="">Wochentag</option>
                            <option value="montags">montags</option>
                            <option value="dienstags">dienstags</option>
                            <option value="mittwochs">mittwochs</option>
                            <option value="donnerstags">donnerstags</option>
                            <option value="freitags">freitags</option>
                            <option value="samstags">samstags</option>
                            <option value="sonntags">sonntags</option>
                        </select>
                    </div>
                    {% if formBOX4s.scan_weekday.errors %}
                        {% for e in formBOX4s.scan_weekday.errors %}
                            <p class="ui orange message">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
                    <div class="four wide field">
                        <label>Schwachstellenscan zu Uhrzeit</label>
                        <div class="ui input">
                        <input type="time" id="{{ formBOX4s.scan_time.id }}" name="{{ formBOX4s.scan_time.name }}" value="09:00">
                        </div>
                    </div>
                    {% if formBOX4s.scan_time.errors %}
                        {% for e in formBOX4s.scan_time.errors %}
                            <p class="ui orange message">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
                    <div class="two wide field">
                        <label>
                            Kategorie <div style="margin-left:1em;" class="ui icon label circular foursgrey-bg" data-html="
                            <div class='content'>
                                <div class='ui list'>
                                    {% for c in scan_categories %}
                                    <div class='item'>
                                        <b>{{c.id}}</b> - {{c.name}}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>   
                            " data-position="bottom center"><i style="margin:0em;" class="help icon"></i></div>
                        </label>
                        <select name="{{formBOX4s.scancategory_id.name}}" class="ui fluid dropdown">
                        <option value=""></option>
                        {% for value in formBOX4s.scancategory_id.choices %}
                            <option value="{{value[0]}}">{{value[0]}}</option>
                        {% endfor %}
                        </select>
                    </div>
                    {% if formBOX4s.scancategory_id.errors %}
                        {% for e in formBOX4s.scancategory_id.errors %}
                            <p class="ui orange message">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <button class="ui fluid large primary submit button" type="submit" name="button">Anlegen</button>
            </form>
        </form>
    </div>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
$('.step.active').removeClass('active');
$('#step-box4s').addClass('active');
</script>
{% endblock %}