{% extends "wizard/base.html" %}
{% block content %}
    <div class="one column">
        <div class="ui segment">
            <div class="ui success message">
                <div class="header">
                Einrichtung der SMTP-Konfiguration und Hinterlegen eines Zertifikats
                </div>
                <p>
                    Standardmäßig verwendet die BOX4security den Microsoft Office 365 SMTP-Server via verschlüsselter SMTPS-Kommunikation. <br>
                    Sollten Sie dem einen anderen, so wie internen, SMTP-Server vorziehen, so richten Sie hier den Zugang ein.
                </p>
                <p>
                    Ebenfalls haben Sie hier optional die Möglichkeit ein Zertifikat Ihrer internen CA zu hinterlegen. <br>
                    Andernfalls wird ein von der BOX4security selbstsigniertes Zertifikat für die HTTPS-Komunikation verwendet.
                </p>
            </div>
            <a class="ui large foursgrey-bg button">Eingaben speichern</a>
            <form class="ui large form" action="{{ url_for('user.login') }}" method="POST" role="form">
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
$('.step.active').removeClass('active');
$('#step-smtp').addClass('active');
</script>
{% endblock %}