{% extends "wizard/base.html" %}
{% block content %}
{% from "user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}
    <div class="one column">
    <div class="ui segment">
        <div class="ui success message">
            <div class="header">
            Einrichtung der Firmennetze
            </div>
            <p>
                Geben Sie in diesem Schritt die Netze Ihrer Umgebung an. 
                Tragen Sie dazu bitte die Netzwerke mittels CIDR-Notation oder per Netzadresse und Subnetzmaske ein. 
                Sie können zudem optional eine Klassifikation des Netzwerkes angeben und Netze von Schwachstellenscans oder der Untersuchung auf alarmieren Traffic ausnehmen.
            </p>
        </div>
        <a class="ui large foursgrey-bg button">Eingaben speichern</a>
        <form class="ui large form" action="{{ url_for('user.login') }}" method="POST" role="form">
        </form>
    </div>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
$('.step.active').removeClass('active');
$('#step-networks').addClass('active');
</script>
{% endblock %}