{% extends "wizard/base.html" %}
{% block content %}
<div class="one column">
    <div class="ui segment">
        <div class="ui success message">
            <div class="header">
            Prüfung der Eingabe
            </div>
            <p>
                Bitte prüfen Sie im letzten Schritt aufmerksam Ihre Eingaben. <br>
                Sollten Sie eine Korrektur vornehmen wollen, so gehen Sie bitte über die obige Navigation zu dem betroffenen Schritt zurück.
            </p>
            <p>
                Durch Absenden dieser Seite bestätigen Sie die Eingaben und nehmen die Änderungen wirksam vor. <br>
                Bitte beachten Sie, dass die BOX4security danach neustartet und unter der von Ihnen angebenen IP-Adresse erreichbar sein wird.
            </p>
        </div>
        <form class="ui large form" action="{{ url_for('user.login') }}" method="POST" role="form">
            <div class="ui field">
                <div class="ui checkbox">
                    <input type="checkbox" name="example">
                    <label>Ich habe die gezeigten Informationen auf Korrektheit geprüft.</label>
                </div>
            </div>
            <button type="submit" class="ui large foursgrey-bg button">Einrichtung abschließen</button>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
$('.step.active').removeClass('active');
$('#step-verify').addClass('active');
</script>
{% endblock %}