<!DOCTYPE html>
<html lang="de" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% block head %}
    <link rel="stylesheet" href="/static/external/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/static/box4s.css">
    <title>BOX4Security</title>
    {% endblock %}
  </head>
  <body>
    {% if current_user.is_authenticated %}
      <div class="ui tabular menu">
        {% if current_user.has_role('Startseite') %}
          <div class="item active" id="start">
            <a class="item" id="startitem" href="/start">
              <i class="home icon"></i>
              Startseite
            </a>
          </div>
        {% endif %}
        {% if current_user.has_role('SIEM') or current_user.has_role('Dashboards-Master') %}
          <div class="item" id="siem">
            <div class="ui dropdown pointing link item">
              <i class="globe icon" id="securitymenu"></i> SIEM
      	       <i class="dropdown icon"></i>
               <div class="menu">
                 <a class="item" href="/siem-overview">Übersicht</a>
                 <a class="item" href="/siem-alerts">Alarme</a>
                 <a class="item" href="/siem-asn">ASN</a>
                 <a class="item" href="/siem-http">HTTP</a>
                 <a class="item" href="/siem-dns">DNS</a>
                 <a class="item" href="/siem-proto">Protokolle & Dienste</a>
                 <a class="item" href="/siem-social-media">Social Media</a>
                 {% if ('false' | custom_getenv('BOX4s_WAZUH')) == 'true' %}<a class="item" href="/wazuh">Endgeräte</a>{% endif %}
                 <a class="item" href="/intelligence">Intelligence</a>
                 {% if current_user.has_role('Config') %}<a class="item" href="/siem-discover">Discover</a>{% endif %}
               </div>
             </div>
           </div>
         {% endif %}
         {% if current_user.has_role('Schwachstellen') or current_user.has_role('Dashboards-Master') %}
           <div class="item" id="vuln">
      	      <div class="ui dropdown pointing link item">
      	         <i class="bug icon"></i> Schwachstellen
      	          <i class="dropdown icon"></i>
                  <div class="menu">
      	             <a class="item" href="/vuln-overview"> Übersicht </a>
      	             <a class="item" href="/vuln-progress"> Verlauf </a>
      	             <a class="item" href="/vuln-details"> Details </a>
                  </div>
              </div>
          </div>
        {% endif %}
        {% if current_user.has_role('Netzwerk') or current_user.has_role('Dashboards-Master') %}
          <div class="item" id="net">
      	     <div class="ui dropdown pointing link item">
               <i class="sitemap icon"></i> Netzwerk <i class="dropdown icon"></i>
               <div class="menu">
                 <a class="item" href="/network-overview">Übersicht</a>
      	         <a class="item" href="/network-streams">Datenflüsse</a>
      	         <a class="item" href="/network-asn">GeoIP & ASN</a>
      	       </div>
             </div>
          </div>
        {% endif %}
        {% if current_user.has_role('FAQ') or current_user.has_role('User-Management') or current_user.has_role('Filter') or current_user.has_role('Updates') or current_user.has_role('Alerts') %}
          <div class="item" id="administration">
            <div id="dropdownLink" class="ui dropdown pointing link item">
      	       <i class="cogs icon"></i> Administration
               <i class="dropdown icon"></i>
               <div class="menu">
                 {% if current_user.has_role('FAQ') %}
                 <a class="item" href="/faq">FAQ</a>
                 {% endif %}
                 {% if current_user.has_role('User-Management') %}
                 <a class="item" href="/user">Benutzer</a>
                 {% endif %}
                 {% if current_user.has_role('Config') %}
                 <a class="item" href="/config">Konfiguration</a>
                 {% endif %}
                 {% if current_user.has_role('Filter') %}
                 <a class="item" href="/filter">Filter</a>
                 {% endif %}
                 {% if current_user.has_role('Alerts') %}
                 <a class="item" href="/alerts">Alarme</a>
                 {% endif %}
                 {% if current_user.has_role('Updates') %}
                 <a class="item" href="/update" id="upd">Updates  </a>
                 {% endif %}
                 {% if current_user.has_role('Super Admin') %}
                 <a class="item" href="/repair">Reparieren</a>
                 {% endif %}
                 {% if current_user.has_role('Super Admin') %}
                 <a class="item" href="/system">System</a>
                 {% endif %}
               </div>
             </div>
           </div>
         {% endif %}
         {% if current_user.has_role('Wiki') %}
           <div class="item active" id="documentation">
            <a class="item" id="docuitem" href="/docs">
              <i class="book icon"></i>
              Dokumentation
            </a>
          </div>
        {% endif %}
         <div class="right menu">
           {% if current_user.is_authenticated %}
           <a class="item"></a>
           <div class="item">
             <div class="ui dropdown pointing link item">
               <i class="user icon"></i>{%if current_user.last_name %}{{ current_user.first_name }} {{current_user.last_name}} {% else %} {{ current_user.email }} {% endif %}
               <i class="dropdown icon"></i>
               <div class="menu">
                 <a class="item" href="{{url_for('user.logout')}}">Logout</a>
                 <a class="item" href="{{url_for('user.change_password')}}">Passwort ändern</a>
               </div>
             </div>
           </div>
           {% else %}
           <a class="item" id="user" href="//{{request.host}}/user/sign-in"><i class="user icon"></i>Login</a>
           {% endif %}
            <a class="item"id="4smenu" href="https://www.4sconsult.de/" target="__blank"><img class="ui small image" src="/static/Box4S_Logo.png"></a>
         </div>
       </div>
     {% endif %}
    {% block content %}
    {% endblock %}
    <script src="/static/external/jquery.min.js"></script>
    <script src="/static/external/semantic.min.js"></script>
    <script src="/static/semver.js" charset="utf-8"></script>
    <script type="text/javascript">
    $('.ui.dropdown').dropdown();

    //Get current Version
    $.ajax('//{{ request.host }}/api/ver/', {
      dataType: "json",
      timeout: 5000,
      success: (data) => {
        getAllVersion(data.version);
      }
    })

    //Get all available Versions
    function getAllVersion(curr_version){
      $.ajax('//{{ request.host }}/api/ver/releases/', {
        dataType: "json",
        timeout: 5000,
        success: (data) => {
          updateNotification(curr_version,data);
        }
      })
    }

    function updateNotification(curr_version, data){
      let updatectr = 0;
      data.forEach((version, i) => {
        //increase counter for each newer version
        if (semver.compare(curr_version, version.version) == -1){
          updatectr++;
        }
      })

      if ( updatectr > 0 ){
        //Add Update Notification if newer version found
        let updateBar = $(`#upd`);
        let AdminBar = $(`#dropdownLink`);
        let updatesUpdateBar = `<div class="ui grey label">${updatectr}</div>`;
        let updatesAdminBar = `<div class="floating ui grey label">${updatectr}</div>`;
        updateBar.append(updatesUpdateBar);
        AdminBar.append(updatesAdminBar)

      }
    }

    </script>
    {% block scripts %}{% endblock %}
  </body>
</html>
