<!DOCTYPE html>
<html lang="de" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="static/box4s.css">
    <title>BOX4security</title>
    {% endblock %}
  </head>
  <body>
    <div class="ui tabular menu">
      <div class="item active" id="start">
        <i class="home icon"></i>
        <a class="item" id="startitem" href="/start">Startseite</a>
      </div>
      <div class="item" id="siem">
        <div class="ui dropdown pointing link item">
          <i class="globe icon" id="securitymenu"></i> SIEM
  	       <i class="dropdown icon"></i>
           <div class="menu">
             <a class="item" href="/ids">Intrusion Detection</a>
           </div>
         </div>
       </div>
       <div class="item" id="vuln">
  	      <div class="ui dropdown pointing link item">
  	         <i class="bug icon"></i> Schwachstellen
  	          <i class="dropdown icon"></i>
              <div class="menu">
  	             <a class="item" href="/vuln-overview"> Schwachstellenübersicht </a>
  	             <a class="item" href="/vuln-details"> Schwachstellendetails </a>
  	             <a class="item" href="/vuln-progress"> Schwachstellenverlauf </a>
              </div>
          </div>
      </div>
      <div class="item" id="net">
  	     <div class="ui dropdown pointing link item">
           <i class="sitemap icon"></i> Netzwerk <i class="dropdown icon"></i>
           <div class="menu">
             <a class="item" href="/network-overview">Übersicht</a>
  	         <a class="item" href="/network-streams">Datenflüsse</a>
  	         <a class="item" href="/network-asn">GeoIP & ASN</a>
  	       </div>
         </div>
      </div>
      <div class="item" id="administration">
        <div class="ui dropdown pointing link item">
  	       <i class="cogs icon"></i> Administration
           <i class="dropdown icon"></i>
           <div class="menu">
             <a class="item" href="/faq">FAQ</a>
             <a class="item" href="/administration">System</a>
             <a class="item" href="/filter">Filter</a>
           </div>
         </div>
       </div>
  	   <a class="item right image" id="4smenu" href="https://www.4sconsult.de/" target="__blank"><img class="ui small image" src="/static/Box4S_Logo.png"></a>
     </div>
    {% block content %}
    {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>
    <script type="text/javascript"> $('.ui.dropdown').dropdown(); </script>
    {% block scripts %}{% endblock %}
  </body>
</html>
