{% extends "base.html" %}
{% block content %}
  <div class="ui main text container">
    {# One-time system messages called Flash messages #}
    {% block flash_messages %}
        {%- with messages = get_flashed_messages(with_categories=true) -%}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="ui message {{category}}">{{ message|safe }}</div>
                {% endfor %}
            {% endif %}
        {%- endwith %}
    {% endblock %}
    <h1 class="ui header">BOX4security - Konfiguration</h1>
    <div class="ui inverted section divider"></div>
    <div class="section">
        <div class="ui top attached secondary pointing tabular menu">
            <a data-tab="mail" class="item active">
              Mail
            </a>
            {% if ('false' | custom_getenv('BOX4s_WAZUH')) == 'true' %}
            <a data-tab="wazuh" class="item">
              Wazuh
            </a>
            {% endif %}
            <a data-tab="https" class="item">
                HTTPS
            </a>
          </div>
          <div data-tab="mail" class="ui bottom attached active tab segment">
            <!-- Mail -->
            <form id="formSMTP" method="get" class="ui form" enctype="multipart/form-data">
                <h4 class="ui dividing header">SMTP-Konfiguration</h4>
                <div class="field">
                  <label>Absender</label>
                    <div class="ui left icon input">
                        <input required type="email" id="senderMail" name="senderMail" placeholder="E-Mail-Adresse des Absenders">
                        <i class="at icon"></i>
                    </div>
                </div>
                <div class="field">
                  <label>Verbindung</label>
                  <div class="fields">
                    <div class="twelve wide field">
                        <div class="ui left icon input">
                            <input required type="text" id="smtpHost" name="host" placeholder="SMTP-Host">
                            <i class="server icon"></i>
                        </div>
                    </div>
                    <div class="four wide field">
                        <div class="ui left icon input">
                            <input required type="number" id="smtpPort" name="port" placeholder="SMTP-Port">
                            <i class="plug icon"></i>
                        </div>
                        <small class="helper">Meist 465, 587 oder 25.</small>
                    </div>
                  </div>
                </div>
                <div class="fields">
                  <div class="ui middle aligned grid field">
                    <div class="row">
                      <div class="nine wide column">
                        <div class="ui toggle checkbox">
                          <input type="checkbox" id="smtpTLS" name="tls">
                          <label>Secure (TLS)</label>
                        </div>
                        <br>
                        <small class="helper">Sollte bei Port 465 aktiviert, sonst aus sein (587, 25).</small>
                      </div>
                      <div class="seven wide column">
                        <div class="ui action input cert">
                          <input id="cert-text" type="text" placeholder="TLS-Zertifikat.crt" readonly>
                          <input id="cert-file" accept=".crt,.pem,.cer" type="file" name="cert">
                          <div class="ui icon button">
                            <i class="attach icon"></i>
                          </div>
                        </div>
                        <br>
                        <small class="helper">Sollte der Mail-Server ein selbstsigniertes Zertifikat verwenden, laden Sie es hier hoch.</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <label>Authentifikation</label>
                  <div class="ui left icon input">
                      <input required type="text" id="smtpUsername" name="username" placeholder="SMTP-Username">
                      <i class="user icon"></i>
                  </div>
                </div>
                <div class="field">
                  <div class="ui left icon input">
                    <input required type="password" id="smtpPassword" name="password" placeholder="SMTP-Passwort">
                    <i class="key icon"></i>
                  </div>
                </div>
                <button class="ui green button" type="submit">Änderungen anwenden</button>
                <small class="helper">Um die Änderungen anzuwenden, wird die BOX4security neustarten.</small>
              </form>
          </div>
          {% if ('false' | custom_getenv('BOX4s_WAZUH')) == 'true' %}
          <div id='wazuh-segment' data-tab="wazuh" class="ui bottom attached tab segment">
            <!-- Wazuh-->
            <h4 class="ui dividing header">Endgeräte-IDS-Konfiguration</h4>
            <div class="ui form" id="formWazuh">
                <div class="field">
                    <label>Passwort für Wazuh-Agents</label>
                    <div class="ui action input">
                        <input type="password">
                        <a id="copy-wazuh-pass" class="ui primary left labeled icon button">
                            <i class="ui icon copy"></i>
                            Kopieren
                        </a>
                        <a id="renew-wazuh-pass" class="ui secondary left labeled icon button">
                            <i class="ui icon random"></i>
                            Erneuern
                        </a>
                    </div>
                </div>
                <button disabled class="ui green button">Änderungen anwenden</button>
            </div>
          </div>
          {% endif %}
          <div data-tab="https" class="ui bottom attached tab segment">
            <form id="formHTTPS" method="POST" class="ui form" enctype="multipart/form-data">
                <h4 class="ui dividing header">HTTPS-Konfiguration</h4>
                <div class="field">
                    <div class="ui action input cert">
                        <input id="https-cert-text" type="text" placeholder="HTTPS-Zertifikat.pem" readonly>
                        <input id="https-cert-file" type="file" name="files[]" accept=".pem" autocomplete="off" required>
                        <div class="ui icon button">
                        <i class="attach icon"></i>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui action input cert">
                        <input id="https-key-text" type="text" placeholder="PrivaterRSA-Key.pem" readonly>
                        <input id="https-key-file" type="file" accept=".pem" name="files[]" autocomplete="off" required>
                        <div class="ui icon button">
                        <i class="attach icon"></i>
                        </div>
                    </div>
                </div>
                <button class="ui green button" type="submit">Änderungen anwenden</button>
                <small class="helper">Um die Änderungen anzuwenden, wird die BOX4security neustarten.</small>
              </form>
          </div>
    </div>
  <div class="ui vertical footer segment">
    <div class="ui center aligned container">
    <img src="/static/Box4S_Logo.png" class="ui centered small image">
  </div>
  </div>
  {% endblock %}
{% block scripts %}
  <script>
    $("#https-cert-text, .ui.action.input.cert>.button").click(function() {
        $(this).parent().find("#https-cert-file").click();
    });
    $('#https-cert-file', '.ui.action.input.cert')
    .on('change', function(e) {
        var name = e.target.files[0].name;
        $('#https-cert-text', $(e.target).parent()).val(name);
    });
    $("#https-key-text, .ui.action.input.cert>.button").click(function() {
        $(this).parent().find("#https-key-file").click();
    });
    $('#https-key-file', '.ui.action.input.cert')
    .on('change', function(e) {
        var name = e.target.files[0].name;
        $('#https-key-text', $(e.target).parent()).val(name);
    });
    $('#formHTTPS').on('submit', async (e) => {
        e.preventDefault();
        var form = document.getElementById('formHTTPS');
        var pemData = new FormData()
        pemData.append('files[]', $('#https-cert-file')[0].files[0]);
        pemData.append('files[]', $('#https-key-file')[0].files[0]);
        const response = await fetch('//{{ request.host }}/api/config/cert', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
            },
                body: pemData
        });
        var msg =  document.createElement('div');
        msg.classList = "ui visible message"
        if(response.ok){
            msg.classList.add("success");
            msg.innerHTML = '<div class="header">HTTPS-Konfiguration erfolgreich gespeichert.</div><p>Die BOX4security startet nun mit geänderter Konfiguration neu. Bitte haben Sie einen Moment Geduld. Die Seite wird automatisch neu geladen. Bei selbstsignierten Zertifikaten ist unter Umständen ein manuelles Neuladen des Tabs erforderlich. </p>'
            $('#formHTTPS').find('button').prop('disabled', true).html('<div class="ui active centered inline loader"></div>');
            setTimeout(async () => {
                await waitForWeb();
                // Reload without parameters
                window.location = window.location.pathname;
                var msg =  document.createElement('div');
                msg.innerHTML = '<div class="header">Neustart abgeschlossen.</div>';
                msg.classList = "ui visible message success";
                form.appendChild(msg);
            }, 15000);
        } else {
            msg.classList.add("error");
            msg.innerHTML = 'HTTPS-Konfiguration konnte nicht gespeichert werden.';
            response.json().then(j => console.log(response.status + " " + j['message']));
    }
    form.insertBefore(msg, form.lastElementChild);
    });
  </script>
  <script type="text/javascript">
  $('div.item.active').removeClass('active');
  $('#administration').addClass('active');

  $('.menu .item').tab();

  $("#cert-text, .ui.action.input.cert>.button").click(function() {
    $(this).parent().find("#cert-file").click();
  });

  $('#cert-file', '.ui.action.input.cert')
  .on('change', function(e) {
    var name = e.target.files[0].name;
    $('#cert-text', $(e.target).parent()).val(name);
  });


  window.onload = function(){
    fetch('//{{ request.host }}/api/config/smtp')
    .then((resp) => resp.json())
    .then((jso) => {
      document.getElementById('smtpHost').value = jso.SMTP_HOST;
      document.getElementById('smtpPort').value = jso.SMTP_PORT;
      var checkTLS = $('#smtpTLS').parents()[0];
      jso.SMTP_USE_TLS ? $(checkTLS).checkbox('check') : $(checkTLS).checkbox('uncheck');
      document.getElementById('senderMail').value = jso.SMTP_SENDER_MAIL;
      document.getElementById('smtpUsername').value = jso.SMTP_USERNAME;
    });
  }
  </script>
  <script type="text/javascript">
    const waitForWeb = async () =>  {
      var done = false;
      while (!done) {
        await new Promise(resolve => setTimeout(resolve, 2000));
        fetch('//{{ request.host }}/api/_health')
        .then(resp => {
          if(resp.ok) {
            done = true;
          }
        });
      }
    }
    $('#formSMTP').on('submit', async (e) => {
    e.preventDefault();
    var form = document.getElementById('formSMTP');
    var formData = new FormData(form);
    formData.delete('cert');
    var certData = new FormData()
    certData.append('cert', $('#cert-file')[0].files[0])
    var responseCert = await fetch('//{{ request.host }}/api/config/smtp/cert', {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
      },
        body: certData
    });
    var jsonForm = JSON.stringify(Object.fromEntries(formData));
    let response = await fetch('//{{ request.host }}/api/config/smtp', {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: jsonForm
    });
    var msg =  document.createElement('div');
    msg.classList = "ui visible message"
    if(response.ok){
        msg.classList.add("success");
        msg.innerHTML = '<div class="header">SMTP-Konfiguration erfolgreich gespeichert.</div><p>Die BOX4security startet nun mit geänderter Konfiguration neu. Bitte haben Sie einen Moment Geduld. Die Seite wird automatisch neu geladen.</p>'
        $('#formSMTP').find('button').prop('disabled', true).html('<div class="ui active centered inline loader"></div>');
    } else {
        msg.classList.add("error");
        msg.innerHTML = 'SMTP-Konfiguration konnte nicht gespeichert werden.';
    }
    form.insertBefore(msg, form.lastElementChild);
    if(response.ok){
      setTimeout(async () => {
        await waitForWeb();
        // Reload without parameters
        window.location = window.location.pathname;
      }, 15000);
    }

    });
  </script>
{% if ('false' | custom_getenv('BOX4s_WAZUH')) == 'true' %}
  <script>
    // Scripts for Wazuh Config
    var wazuhSegment = document.getElementById('wazuh-segment');
    var inPass = $('#formWazuh input:password');
    inPass.on('keyup', e => {
        $('#formWazuh > .ui.green.button').prop("disabled", false);
    });
    document.getElementById('copy-wazuh-pass').addEventListener('click', async (e) => {
        e.preventDefault();
        var temp = $("<input>");
        $("body").append(temp);
        temp.val(inPass.val()).select();
        document.execCommand("copy");
        temp.remove();
        alert('Wazuh-Agent-Passwort in die Zwischenablage kopiert.');
    });
    document.getElementById('renew-wazuh-pass').addEventListener('click', async (e) => {
        e.preventDefault();
        fetch('/api/config/wazuh', {
            method: 'POST'
        }).then(r => r.json())
        .then(d => {
            inPass.val(d.password);
            var temp = $("<input>");
            $("body").append(temp);
            temp.val(d.password).select();
            document.execCommand("copy");
            temp.remove();
            var oldNodes = wazuhSegment.querySelectorAll('.inverted.segment');
            oldNodes.forEach(node => wazuhSegment.removeChild(node));
            var successNode = document.createElement('div');
            ['ui', 'inverted', 'green', 'segment']
                .forEach(cl => successNode.classList.add(cl));
            successNode.innerHTML = '<p><i class="ui icon check"></i> Passwort der Wazuh-Agents erfolgreich aktualisiert.</p>';
            wazuhSegment.insertBefore(successNode, wazuhSegment.getElementsByTagName('h4')[0].nextSibling);
            alert('Neues Wazuh-Agent-Passwort generiert und in die Zwischenablage kopiert.');
        });
    });
    fetch('/api/config/wazuh')
        .then(r => r.json())
        .then(d => {
            inPass.val(d.password);
        });
    $('#formWazuh > .ui.green.button').on('click', async (e) => {
        e.preventDefault();
        if(!inPass.val().length > 0)
        {
            alert("Das Passwort für die Wazuh-Agents kann nicht leer sein.")
        } else {
            fetch('/api/config/wazuh', {
                method: "PUT",
                body: JSON.stringify({password: inPass.val()}),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            })
                .then(r => r.json())
                .then(d => {
                    var oldNodes = wazuhSegment.querySelectorAll('.inverted.segment');
                    oldNodes.forEach(node => wazuhSegment.removeChild(node));
                    var successNode = document.createElement('div');
                    ['ui', 'inverted', 'green', 'segment']
                        .forEach(cl => successNode.classList.add(cl));
                        successNode.innerHTML = '<p><i class="ui icon check"></i> Passwort der Wazuh-Agents erfolgreich aktualisiert.</p>'
                    wazuhSegment.insertBefore(successNode, wazuhSegment.getElementsByTagName('h4')[0].nextSibling)
                    inPass.val(d.password);
            });
        }
    });
  </script>
{% endif %}
{% endblock %}
