{% extends "base.html" %}
{% block content %}
  <div class="ui main text container">
    {# One-time system messages called Flash messages #}
    {% block flash_messages %}
        {%- with messages = get_flashed_messages(with_categories=true) -%}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="ui message {{category}}">{{ message|safe }}</div>
                {% endfor %}
            {% endif %}
        {%- endwith %}
    {% endblock %}
    <h1 class="ui header">BOX4Security - Filter</h1>
    <div class="ui floating tiny message">
      <p>
        Sie haben hier die Möglichkeit Security-Alerts anhand von definierten Daten-Features von der Aufzeichnung auszunehmen.
        Dies eignet sich besonders, um False-Positives auszublenden.
        Beachten Sie auch die Antworten auf <a href="/faq">häufig gestellte Fragen</a>.
      </p>
    </div>
    <div class="ui inverted section divider"></div>
    <div class="section">
      <h2 class="ui header">BPF Filter<div class="sub header">Filter auf Ebene der Netzwerkkarte</div></h2>
      <table id="tbl-bpf" class="ui celled single line small table">
        <thead>
          <tr>
            <th>Quell-IP</th>
            <th class="collapsing">Quell-Port</th>
            <th>Ziel-IP</th>
            <th class="collapsing">Ziel-Port</th>
            <th class="collapsing">Protokoll</th>
            <th>Aktion</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <div class="ui grid">
        <div class="two column row">
          <div class="left floated column">
            <a class="ui positive centered icon button _open">
              <i class="plus icon"></i>
            </a>
          </div>
          <div class="right floated column">
            <div class="fluid ui labeled button">
              <a data-set='bpf' class="fluid ui negative button _flush">
                <i class="exclamation triangle icon"></i>
                Alle BPF-Regeln irreversibel löschen
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui inverted section divider"></div>
    <div class="section">
      <h2 class="ui header">Logstash Filter<div class="sub header">Filter auf Softwareebene</div></h2>
    </div>
    <table id="tbl-logstash" class="ui celled small table">
      <thead>
        <tr>
          <th>Quell-IP</th>
          <th>Quell-Port</th>
          <th>Ziel-IP</th>
          <th>Ziel-Port</th>
          <th>Protokoll</th>
          <th>Angriffssignatur</th>
          <th lass="collapsing">Aktion</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <div class="ui grid">
      <div class="two column row">
        <div class="left floated column">
          <a class="ui positive icon button _open">
            <i class="plus icon"></i>
          </a>
        </div>
        <div class="right floated column">
          <div class="fluid ui labeled button">
            <a data-set="logstash" class="fluid ui negative button _flush">
              <i class="exclamation triangle icon"></i>
              Alle Logstash-Regeln irreversibel löschen
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui vertical footer segment">
    <div class="ui center aligned container">
    <img src="/static/Box4S_Logo.png" class="ui centered small image">
  </div>
  </div>
  <div class="ui small modal">
    <i class="close icon"></i>
    <div class="header">Filterregel hinzufügen</div>
    <div class="content">
      <form class="ui form">
        <div class="ui centered grid">
          <div class="row">
            <div class="four wide field" data-tooltip='Leer für beliebig'>
              <label>Quell-IP</label>
              <input name="src_ip" type="text" placeholder="Quell-IP" value="{{request.args.get("src_ip", default='')}}">
            </div>
            <div class="one column">
            </div>
            <div class="three wide field" data-tooltip='Leer für beliebig'>
              <label>Quell-Port</label>
              <input name="src_port" type="number" placeholder="Quell-Port"  value="{{request.args.get("src_port", default='')}}">
            </div>
          </div>
          <div class="row">
            <div class="four wide field" data-tooltip='Leer für beliebig'>
              <label>Ziel-IP</label>
              <input name="dst_ip" type="text" placeholder="Ziel-IP" value="{{request.args.get("dst_ip", default='')}}">
            </div>
            <div class="one column">
            </div>
            <div class="three wide field" data-tooltip='Leer für beliebig'>
              <label>Ziel-Port</label>
              <input name="dst_port" type="number" placeholder="Ziel-Port" value="{{request.args.get("dst_port", default='')}}">
            </div>
          </div>
          <div class="row">
            <div class="eight wide field" data-tooltip='Leer für beliebig'>
              <label>Protokoll</label>
              <select name="proto" class="ui dropdown">
                <option value=" " selected></option>
              {% for value in ['', 'tcp', 'udp', 'icmp'] %}
                 <option value="{{value}}"
                 {% if value == request.args.get("proto", default='') %}
                 selected="selected"
                 {% endif %}
                 >{{value}}</option>
              {% endfor %}
              </select>
            </div>
          </div>
          <div class="row">
            <div class="field">
              <input type="hidden" name="signature_id" value="{{request.args.get("signature_id", default='')}}">
            </div>
            <div class="eight wide field" data-tooltip='Nur Logstash. Leer für beliebig.'>
              <label>Alarmsignatur</label>
              <input name="signature" type="text" placeholder="" value="{{request.args.get("signature", default='')}}">
            </div>
          </div>
          <div class="row">
            <div class="six wide center aligned column">
              <h5 class="ui center aligned top attached header">
                Regel hinzufügen
              </h5>
              <div class="ui attached raised segment">
                <div class="ui buttons">
                  <button class="ui button _add" data-set="bpf" data-tooltip="Filter auf Eben der Netzwerk">BPF</button>
                  <div class="or" data-text="od."></div>
                  <button class="ui button _add" data-set="logstash" data-tooltip="Filter auf Softwareebene">Logstash</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script type="text/javascript">
    function apiEndpoint(endpoint, method='GET', redirect='follow') {
    return fetch(`//{{ request.host }}/${endpoint}`, {method: method, redirect: redirect})
      .then((response) => {
        return response.json()
      })
      .then(json => {
        return json
      })
      .catch((err) => {
        console.log('Fetch Error :-S', err);
      });
    }
    const getEndpoint = async(endpoint, method) => {
    const ret = await apiEndpoint(endpoint, method)
    return ret
    }
  </script>
  <script type="text/javascript">
  $('div.item.active').removeClass('active');
  $('#administration').addClass('active');
  (async function() {
    getEndpoint('api/rules/bpf/').then((ret) => {
      addToTable('bpf', ret);
    })
    getEndpoint('api/rules/logstash/').then((ret => {
      addToTable('logstash', ret)
    }))
  function addToTable(set, data) {
    let tbody = $(`#tbl-${set} tbody`);
    data.forEach(rule => {
      row = `<tr>
        <td>${rule.src_ip}</td>
        <td class="collapsing">${rule.src_port}</td>
        <td>${rule.dst_ip}</td>
        <td class="collapsing">${rule.dst_port}</td>
        <td>${rule.proto}</td>`
        +
          ( rule.signature ? `<td>${rule.signature}</td>` : '<td></td>' )
        +`
        <td class="collapsing">
          <a data-rule-id="${rule.id}" class="ui icon red button">
            <i class="trash alternate outline icon"></i>
          </a>
        </td>
      </tr>`;
      tbody.append(row);
    })
    $( `#tbl-${set} tbody tr td a` ).on('click', (e) => {
      getEndpoint(`api/rules/${set}/${$(e.delegateTarget).data('rule-id')}`, method='DELETE')
      $(e.delegateTarget).closest('tr').remove();

    })

  }
})();
  $("a._flush").click((e) => {
    var set = $(e.delegateTarget).data('set');
    if (confirm(`Sind Sie sicher alle Regeln des ${set}-Filters unwiderruflich zu LÖSCHEN?`)) {
      getEndpoint(`api/rules/${set}/`, method='DELETE');
      $( `#tbl-${set} tbody` ).empty()
    }
  });
  </script>
  {% if request.args.get('create') %}
    <script type="text/javascript">
      $('.ui.modal').modal('show');
    </script>
  {% endif %}
  <script type="text/javascript">
    // show modal
    $('a._open').click(() => $('.ui.modal').modal('show'));
    // Submit Filter Script
    $('button._add').click(async (e) => {
      e.preventDefault();
      $(e.currentTarget).html('<div class="ui active centered inline loader"></div>');
      $(e.currentTarget).addClass('disabled');
      // Parse form data into json object
      var fd = new FormData($('form.ui.form')[0])
      var json = {};
      fd.forEach((value, key) => {json[key] = value});
      var set = $(e.delegateTarget).data('set');
      const response = await fetch(`api/rules/${set}/`, {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json'
        },
        redirect: 'follow',
        body: JSON.stringify(json)
      });
      if (response.ok) {
        $('.ui.modal').modal('hide');
        // Reload without parameters
        window.location = window.location.pathname;
      }
    });
  </script>
{% endblock %}
