{% extends "base.html" %}
{% block content %}
<div class="ui main text container">
  <h1 class="ui header">BOX4Security - Updates<div class="sub header">Verfügbare Aktualisierungen</div></h1>
  <div class="ui inverted section divider"></div>
  <div class="section">
    <div class="table">
      <table id="tbl" class="ui celled structured table">
        <thead>
          <tr>
            <th class="collapsing">Version</th>
            <th class="collapsing">Kurzbeschreibung</th>
            <th class="collapsing">Zeit</th>
            <th class="center aligned collapsing">Update</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
  <script src="/static/compareversion.js" charset="utf-8"></script>
  <script type="text/javascript">
    // helper function to fetch an API endpoint
    function apiEndpoint(endpoint, method='GET', redirect='follow') {
    return fetch(`//{{ request.host }}/${endpoint}`, {method: method, redirect: redirect})
      .then((response) => {
        return response.json()
      })
      .then(json => {
        return json
      })
      .catch((err) => {
        console.log('Fetch Error :-S', err);
      });
    }
    const getEndpoint = async(endpoint, method) => {
    const ret = await apiEndpoint(endpoint, method)
    return ret
    }
  </script>
  <script type="text/javascript">
  $('div.item.active').removeClass('active');
  $('#administration').addClass('active');
  </script>
  <script type="text/javascript">
    (async function() {
      // fetch all available releases and add to table
      getEndpoint('ver/releases/').then((ret) => {
        addToTable(ret);
      });

      async function addToTable(data) {
        // Fetch current version from api
        const currver = await getEndpoint('ver/');
        let tbody = $(`#tbl tbody`);
        // For each available version, populate fields and add to table
        data.forEach((version, i) => {
          let date = moment(version.date);
          let ago = Math.abs(date.diff(moment(),'days'));
          if(ago == 0) {
            // Difference is less than 1 day, display hours
            ago = Math.abs(date.diff(moment(),'hours'));
            var strago = `vor ${ago} Stunden`;
          } else {
            var strago = `vor ${ago} Tagen`;
          }
          // Build row depending on if version is equal, higher or lower
          switch (compareVersions(currver.version, version.version)) {
            case 0:
            // Versions are equal
            var row = `<tr>
              <td class="collapsing"><b>${version.version}</b></td>
              <td class="collapsing">${version.message}</td>
              <td class="collapsing">${strago}</td>
              <td class="center aligned collapsing">
                  <i class="green checkmark icon"></i>
              </td>
            </tr>`;
              break;
            case 1:
              // Left version higher
              var row = `<tr>
                <td class="collapsing">${version.version}</td>
                <td class="collapsing">${version.message}</td>
                <td class="collapsing">${strago}</td>
                <td class="center aligned collapsing">
                    <i class="green checkmark icon"></i>
                </td>
              </tr>`;
              break;
            case -1:
              // Right version higher
              var row = `<tr>
                <td class="collapsing">${version.version}</td>
                <td class="collapsing">${version.message}</td>
                <td class="collapsing">${strago}</td>
                <td class="center aligned collapsing">`;
                if(i == 0) {
                  // most recent update
                  row+=`<a data-version="${version.version}" class="ui icon green button">
                    <i class="download icon"></i>
                  </a>`
                } else {
                  // intermediate update
                  row+=`<i class="chevron circle up icon"></i>`
                }
                row+=`</td>
              </tr>`;
              break;
          }
          // add row to table
          tbody.append(row);
        });
      }
    })();
  </script>
{% endblock %}
