<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>box4Security</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='master.css') }}">
  </head>
  <body>
    <h1>Status:</h1>
    <div class="container">
      {% for e in env %}
      <div class="panel">
        ${{ e }}: {{ env[e]}}
      </div>
      {% endfor %}
      {% for s in services %}
      <div class="panel">
        {{ s }}: <span class="{{ services[s] }}"><b>{{ services[s] }}</b></span>

      </div>
      {% endfor %}
      <div class="panel">
        Logstash Pipelines: <br/>
        <ul>
          {% for p in pipelines %}
            <li>{{ p }}</li>
          {% endfor %}
        </ul>

      </div>
    </div>
    <h1>Links:</h1>
    <div class="container">
      <div class="panel">
        <a href="{{ request.host_url }}kibana/">Kibana</a>
      </div>
      <div class="panel">
        <a href="{{ request.host_url }}gsa/">OpenVAS GSA</a>
      </div>
    </div>
    <h1>Options:</h1>
    <div class="container">
      <div class="panel">
        <h4>SQL-Output: {% if "sqltransfer_suricata_output" in pipelines %}<span class="enabled">Enabled</span>{% else %}<span class="disabled">Disabled</span>{% endif %}</h4>
        <a href="api/toggle_sql_output">Toggle</a>
      </div>
      <div class="panel">
        <h4>Clean System</h4>
        <a href="api/clean_system">Execute</a>
      </div>
      <div class="panel">
        <h4>Start/Stop</h4>
        <a href="api/startstop/start">Start all</a>
        <a href="api/startstop/stop">Stop all</a>
      </div>
      <div class="panel">
        <h4>Update Git Repo</h4>
        Current Branch: <i>{{ branch }}</i><br/>
        <form action="/api/switchbranch">
          <select class="" name="branch">
            {% for b in branches %}
            <option value="{{b}}">{{b}}</option>
            {% endfor %}
          </select>
          <button type="submit">Change branch</button>
        </form>
        <a href="api/update_repo">Git Pull</a>
      </div>
      <div class="panel">
        <h4>Deploy</h4>
        <a href="api/deploy">Deploy</a>
      </div>
    </div>
  </body>
</html>
