[Unit]
Description=box4security
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=5
TimeoutSec=infinity
# Pass environmentfile to service
EnvironmentFile=/etc/environment

# Stop and remove old container
ExecStartPre=-/usr/local/bin/docker-compose -f /home/amadmin/box4s/docker/box4security.yml down -v
ExecStartPre=-/usr/local/bin/docker-compose -f /home/amadmin/box4s/docker/box4security.yml rm -v

# Compose Box4Security up
ExecStart=/usr/local/bin/docker-compose -f /home/amadmin/box4s/docker/box4security.yml up --no-color --no-build --remove-orphans

# Compose Box4Security down
ExecStop=/usr/local/bin/docker-compose -f /home/amadmin/box4s/docker/box4security.yml down -v

[Install]
WantedBy=multi-user.target
