[Unit]
Description=Suricata Intrusion Detection Service listening on '%I'
After=network.target

[Service]
Type=forking
ExecStartPre=-/bin/mkdir /var/run/suricata
ExecStartPre=/bin/chown -R suri:suri /var/run/suricata
ExecStart=/usr/bin/suricata -c /etc/suricata/suricata.yaml  --af-packet=ens192   -D --pidfile /var/run/suricata/suricata.pid -vvv -F /var/lib/box4s/suricata_suppress.bpf
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/dash -c "/usr/bin/suricatasc -c shutdown ${UNIXCMD_SOCKET}"
ExecStopPost=/bin/rm -rf /var/run/suricata

[Install]
WantedBy=multi-user.target
