{% extends 'user/emails/base_message.html' %}

{% block message %}

<p>Vielen Dank für Ihre Registrierung für die {{ app_name }}.</p>

{% if confirm_email_link -%}
<p>Für die Nutzung ist die Bestätigung Ihrer E-Mail-Adresse notwendig.</p>

<p>Wenn Sie diese Registrierung initiiert haben, dann klicken Sie auf den nachstehenden Link<br/>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ confirm_email_link }}">E-Mail-Adresse bestätigen</a>.</p>

<p>Falls Sie diese Registrierung nicht initiiert haben, können Sie diese E-Mail ignorieren.</p>
{%- endif %}

{% endblock %}