filter
{
  if [event][subtype] != "stats" {
  # dont do this for suricata stats

    mutate {
      add_field => { "company" => "${KUNDE}" }
    }

    # Drop if no track
    {{templateDrop}}


    # Classify assets by subnet
    {{templateNetworks}}

    # Classify asset by ip to type
    {{templateSystems}}
  }
}
