alert:
    - email
email:
    - "{{ target }}"
from_addr: "box@4sconsult.de"
smtp_host: "{{ smtp['host'] }}"
smtp_port: "{{ smtp['port'] }}"
smtp_ssl: {{ smtp['useTLS'] }}
smtp_auth_file: "/opt/elastalert/smtp_auth_file.yaml"