# MAIL
MAIL_SERVER={{ smtp['host'] }}
MAIL_PORT={{ smtp['port'] }}
MAIL_USE_TLS={{ smtp['tls'] }}
MAIL_USERNAME={{ smtp['username'] }}
MAIL_PASSWORD={{ smtp['password'] }}
MAIL_DEFAULT_SENDER={{ smtp['senderMail'] }}
