# MAIL
MAIL_SERVER={{ config['host'] }}
MAIL_PORT={{ config['port'] }}
MAIL_USE_TLS={{ config['tls'] }}
MAIL_USERNAME={{ config['username'] }}
MAIL_PASSWORD={{ config['password'] }}
MAIL_DEFAULT_SENDER={{ config['senderMail'] }}