cidr {
        address => [ "%{[source][ip]}" ]
        network => [ "$network/$cidr" ]
        add_field => {"[source][network][name]" => "$type" }
        add_field => {"[source][network][description]" => "$desc" }
    }
cidr {
        address => [ "%{[destination][ip]}" ]
        network => [ "$network/$cidr" ]
        add_field => {"[destination][network][name]" => "$type" }
        add_field => {"[destination][network][description]" => "$desc" }
    }
